body {}

.wrapper {}

.page {}

.page::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/img/bg.webp) center / cover no-repeat;
}

.main-scrin {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;

}

.main-scrin * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
}

.moon {}

.moon span {
    background: url(/img/moon.webp) top / 100% no-repeat;
    height: auto;
    transform: translate(0px, -50%);
    padding-bottom: 36%;
}

.building span {
    width: 110%;
    left: -5%;

}

.building_three span {
    background: url(/img/building-03.webp) bottom / auto 100% repeat-x;
}

.building__inset {}

.building_two span {
    background: url(/img/building-02.webp) bottom / auto 100% repeat-x;
}

.building_one span {
    background: url(/img/building-01.webp) bottom / auto 100% repeat-x;
}

.train span {
    min-width: 62.5rem;
    left: 50%;
    transform: translate(-50%,0px);
    background: url(/img/train.webp) bottom / auto 100% no-repeat;
}

.train__inset {}

.santa {}

.santa__tree span {
    margin-left: -60vh;
    transform: rotate(90deg);
    background: url(/img/christmas-tree.webp) center / auto 25% no-repeat;

}

.santa__inset {}

.santa__ball {}

.santa__ball_one span {
    margin-top: -10vh;
    margin-left: -40vh;
    background: url(/img/ball-01.webp)center / auto 2.5% no-repeat;

}

.santa__candy {}

.santa__candy_one span {
    margin-top: -2vh;
    margin-left: -35vh;
    background: url(/img/candy-01.webp)center / auto 4.5% no-repeat;
}

.santa__ball_two {
    margin-top: -5vh;
    margin-left: -27vh;
    background: url(/img/ball-02.webp)center / auto 1.5% no-repeat;
}

.santa__candy_two span {    
    
    margin-left: -23vh;
    background: url(/img/candy-02.webp)center / auto 3.5% no-repeat;
}

.santa__man span {
    margin-top: -10vh;
    margin-left: -6vh;
    background: url(/img/santa.webp)center / auto 25% no-repeat;
}

.tree span {
    background: url(/img/tree.webp) bottom / auto 100% repeat-x;
}

.tree__inset {}

.stairs span {
    width: 110%;
    left: -5%;
    background: url(/img/stairs.webp) bottom / 100% no-repeat;
}

.stairs__inset {}

.efx {
    background: url(/img/noise.webp) center repeat;
    will-change: auto;
}
.efx::before,
.efx::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.efx::before {
    background: linear-gradient(180deg, #194153 0%, #16233b 100%);
    mix-blend-mode: overlay;
    opacity: 0.8;
}
.efx::after {
    background: radial-gradient(50% 50% at 50% 50%, rgba (4, 33, 58, 0) 0% #04213a 100%);
    
    opacity: 0.5;
}
.content {
    padding-top: 300vh;
    padding-bottom: 3.125rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.content__conteiner {
    position: relative;
    margin: 0 auto;
    max-width: 78.75rem;
    padding: 1.875rem;
    background-color: rgba(22, 35, 59, 0.8);
}

.content__title {
    font-size: 2.125rem;
    text-transform: uppercase;
    margin-bottom: 1.875rem;
}

.content__body p {
    line-height: 150%;
}
.content__body p:not(:last-child) {
    margin-bottom: 1.875rem;
    
}